@page
@model RamenOrderingWebApp.Models.RamenModel;
@{
}

@using RamenOrderingWebApp.Models.Enums;

<div class="container">
<div class="container">
    <h4 class="text-center">Make your own bowl of ramen</h4>
    <form method="post">

        <div class="form-group mt-4 mb-4">
            <div>Name of ramen</div>
            <input type="text" asp-for="@Model.RamenName"
                   placeholder="Name your masterpiece..." />
            <br />
            <div>Soup base</div>
            <select asp-for="@Model.SoupBase" class="form-control" asp-items="Html.GetEnumSelectList<SoupBaseEnum>()"></select>
            <span asp-validation-for="@Model.SoupBase" class="text-danger"></span>
            <input type="checkbox" asp-for="@Model.ChaSiew2Pc"
                   placeholder="ChaSiew2Pc" /> ChaSiew 2 Pc
            <br />
            <input type="checkbox" asp-for="@Model.OnsenEgg"
                   placeholder="OnsenEgg" /> OnsenEgg
            <br />
        </div>
        <button class="btn btn-primary mt-1" type="submit">Done</button>
    </form>
</div>